#mainEtchGridContainer {
    display: flex;
    justify-content: center;
    
    
    
}

h1{
    align-text: center;
}
#mainEtchGrid {
   border: 50px solid red;
}

.gridRow {
    display:flex;
    justify-content: center;

    
}

.gridBox {
    display:flex;
    border: 1px solid black;
    padding: 5px;
}
