#mainEtchGridContainer {
    display: flex;
    justify-content: center;
    
    
    
}

h1{
    text-align: center;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    
    padding-bottom: 10px;
}
#mainEtchGrid {
    display: grid;
   
    
    
   border: 50px solid red;
   border-left: 100px solid red;
   border-right: 100px solid red;
   width: 500px;
   height: 500px;
}


.gridBox {    
    
    
}
