.mainEtchGridContainer {
    display: flex;
    border: 20px solid red;
    padding: 10px;
    
    
}

.mainEtchGrid {
    display: flex;
    border: 20px solid red;
}

.gridRow {
    display:flex;
    justify-content: center;

    
}

.gridBox {
    display:flex;
    border: 1px solid black;
    padding: 5px;
}
